/* Declaración de variables (colores) */
:root{
    --celeste: #36cecc
}

:root{
    --amarillo: #f7ff00
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

section{
   padding:2rem 9%; 
}

.subtitulo{
    text-align: center;
    font-size: 3rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(62, 205, 249, 0.69);
}

/* Declaración de los botones */

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--celeste);
}

/* Inicio del Header */
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color: var(--celeste);
}

header .nav a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .nav a:hover{
    color: var(--celeste);
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--amarillo);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: 5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}

/* Fin del header */


/* Comienzo del Main */ 
/*Section1 x2 */
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(/img/BanderaArgentina.jpg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .contenido{
    max-width: 50rem;
}

.home .contenido h3{
    font-size: 6rem;
    color: #333;
}

.home .contenido span{
    font-size: 3.5rem;
    color:rgba(0,0,0,.8);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .contenido p{
    font-size: 1.5rem;
    color:#383636;
    padding: 1rem 0;
    line-height: 1.5;
}

.container{
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
    color: #fff;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: #333333ea;
    border: 2px solid rgba(255, 255, 255, 0.552);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
}

.introd .dulceOsalado{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.introd .dulceOsalado .img-container{
    flex: 1 1 40rem;
    position: relative;
}

.introd .dulceOsalado .img-container img{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.introd .dulceOsalado .img-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.introd .dulceOsalado .contenido{
    flex: 1 1 40rem;
}

.introd .dulceOsalado .contenido h3{
    font-size: 3rem;
    color: #333;
}

.introd .dulceOsalado .contenido p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

/* FIN de la seccion1 x2 */


/* Comienzo del Form */
.formulario {
    box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
    background: #666;
    max-width: 100%;
	margin: auto;
	padding: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700; /*negrita*/
	padding: 10px;
	cursor: pointer;
    font-size: 1.5rem;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;	
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;	
	margin-bottom: 0;
	display: none; /*Acá, no me desaparecen los comentarios en Sublime text*/
}

.formulario__input-error-activo {
	display: block; /*Recien acá, me desaparecen los comentarios en Sublime text, osea poner error-activo es condición necesaria para que se oculten los comentarios*/
}

/* Trabajamos sobre el ícono */
.formulario__validacion-estado { 
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2; /*Esta sería la función equivalente a comabinar celda e Excel*/
}

.formulario__mensaje {
    font-size: 1.2rem;
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0; /*Ubicamos el párrafo del mensaje de error en el centro (por defecto ya viene con un margen q lo ubica abajo)*/
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 50px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
    margin-top: 10px;
	font-size: 14px;
	color: #000;
    font-weight: 700;
    padding: 15px;
    background-color: #119200;
	display: none;	
}

.formulario__mensaje-exito-activo {
	display: block;
}


/* --- Estilos para Validación --- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

/* --- Mediaqueries */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos,
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
	grid-column: 1;
    }

    .formulario__btn {
    	width: 100%;
    }
}


/* FIN del Form */



/* Comienzo del Footer */
footer{
    background-color: #111;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
/* FIN del Footer */














/* Inicio 3 Responsive */

@media (max-width:1200px){
   html{
    font-size: 55%;
   }
   header{
    padding: 2rem;
   }

   section{
    padding: 2rem;
   }
   
   .home{
    background-position: left;
   }
    
}

@media (max-width:881px){
    header .fa-bars{
       display: block; 
    }
    header .nav{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path:polygon(0 0, 100% 0, 100% 0, 0 0); /* Recorta al elemento en función de una forma geométrica y oculta lo que quede por fuera */
    }

    header #toggler:checked ~ .nav{ /* Checked indica que el elemento está seleccionado */
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Cambia el recorte */
    }

    header .nav a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .contenido h3{
        font-size: 5rem;
    }

    .home .contenido span{
        font-size: 2.5rem;
    }

    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

@media (max-width:450px){
    html{
     font-size: 50%;
    }

    .subtitulo{
        font-size: 3rem;
    }
     
 }

 /* FIN Responsive */

 /* clases para las recetas dulces*/
 .dulces{
    margin-top: 100px;
    text-align: center;
    font-family:  sans-serif;
    font-style: italic;
    color: black ;
    background-color: rgba(62, 205, 249, 0.69);
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
    }
 .contenedor_destacado{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    gap: 1rem;
    padding: 0.1rem;
    justify-content: center;
    margin: 20px;
    background-color: aliceblue;
    border: 2px solid rgba(0, 0, 0, 0.552);
    border-radius: 16px; 
   }

    .contenedor-recetas {
        width: 100%;
        display: flex;
       }
        .card {
            width: 100%;
            margin: 50px;
            border-radius: 20px;
            overflow: hidden;
            background: white;
            box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.2);
            cursor: default;
            transition: all 400ms ease;
            border: deepskyblue solid;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            line-height: 1.5;
            font-size: small;
        }
        .card:hover{
            box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
            transform: translateY(-3%);
            }
        .card img {
            width: 100%;
            height: 250px;
            }
            .card .contenido-dulce {
                padding: 10px;
                text-align: center;
           }
            
       
       .card .contenido-dulce h2 {
        color: cornflowerblue;
        margin-bottom: 15px;
        font-size: 2rem;
       }
        .card .contenido-dulce a{
            text-decoration: none;
            padding: 10px;
            display: inline-block;
            margin-top: 10px;
            color: #2fb4cc;
            border: 1px solid #2fb4cc;
            border-radius: 4px;
            transition: all 400ms ease;
        }
        .card .contenido-dulce a:hover{
            background: #2fb4cc;
            color: #fff;
        }
/*fin clases recetas dulces*/

/* Comienzo de recetas saladas */

.Contenedor_01 { 
    

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    gap: 1rem;
    /*padding: 0.1rem;*/
    justify-content: revert-layer;
    margin: 20px;
    background-color: aliceblue;
  
    border-radius: 16px; /* curvatura */
    padding: 10px 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
    border: 2px solid rgba(0, 0, 0, 0.552);
    /*width: 100%;*/
    /*font-size: 4.4rem;*/
    /*text-align: center;*/
    /*color: #fff;*/       
    
    grid-template-columns: auto auto;
    /*column-gap: 5px;*/
    gap: 15px;
    grid-template-rows: auto auto;
    /*height: 10vh;*/
    justify-content: space-between;
    
}      

    .salada_01{     /* MILANESA A AL NAPOLITANA */ 
        border: solid;
        margin-top: 90px;
        text-align: center;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: black;
        background-color: #F2F3F4; /*caja interior*/
        font-size: large;
        font-weight: bold;

        
        border: 3px solid #138D75;
        border-radius: 16px;
        /*row-gap: 100px*/


    }

    .salada_02{
        
        margin-top: 15px;
        text-align: revert-layer;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: #150803 ;
        background-color: #F2F3F4; /*caja interior*/
        font-size: medium;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        padding: 40px;
        
    }

    .salada_03{ 
        
        margin-top: 15px;
        text-align: left;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: #150803 ;
        background-color: #F2F3F4; /*caja interior*/
        font-size: medium;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        padding: 40px;
    }

    .salada_04{    /* MATAMBRE ARROLLADO */
        border: solid;
        margin-top: 90px;
        text-align: center;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: black;
        background-color: #F2F3F4; /*caja interior*/
        font-size: large;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        /*row-gap: 100px*/
        
    }

    .salada_05{
        
        margin-top: 15px;
        text-align: revert-layer;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: #150803 ;
        background-color: #F2F3F4; /*caja interior*/
        font-size: medium;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        padding: 40px;
    }

    .salada_06{
        
        margin-top: 15px;
        text-align: left;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: #150803 ;
        background-color: #F2F3F4; /*caja interior*/
        font-size: medium;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        padding: 40px;
    }

    .salada_07{     /* PROVOLETA */
        border: solid;
        margin-top: 15px;
        text-align: center;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: black;
        background-color: #F2F3F4; /*caja interior*/
        font-size: large;
        font-weight: bold;
        
        border: 3px solid #138D75;
        border-radius: 16px;
        /*row-gap: 100px*/
    }

    .salada_08{
        
        margin-top: 15px;
        text-align: revert-layer;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: #150803 ;
        background-color: #F2F3F4; /*caja interior*/
        font-size: medium;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        padding: 40px;
    }

    .salada_09{     
        
        margin-top: 15px;
        text-align: revert-layer;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: #150803 ;
        background-color: #F2F3F4; /*caja interior*/
        font-size: medium;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        padding: 40px;
    }

    .salada_10{     /* LOCRO */
        border: solid;
        margin-top: 15px;
        text-align: center;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: black;
        background-color: #F2F3F4; /*caja interior*/
        font-size: large;
        font-weight: bold;
        
        border: 3px solid #138D75;
        border-radius: 16px;
        /*row-gap: 100px*/
    }

    .salada_11{
        margin-top: 15px;
        text-align: revert-layer;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: #150803 ;
        background-color: #F2F3F4; /*caja interior*/
        font-size: medium;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        padding: 40px;
    }

    .salada_12{
        margin-top: 15px;
        text-align: revert-layer;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: #150803 ;
        background-color: #F2F3F4; /*caja interior*/
        font-size: medium;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        padding: 40px;

    }

    .salada_13{
        margin-top: 15px;
        text-align: revert-layer;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: #150803 ;
        background-color: #F2F3F4; /*caja interior*/
        font-size: medium;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        padding: 40px;
    }

    .salada_14{     /*CHIPA GUAZÚ*/
        
        margin-top: 15px;
        text-align: center;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: #150803 ;
        background-color: #F2F3F4; /*caja interior*/
        font-size: medium;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        
    }

    .salada_15{
        
        margin-top: 15px;
        text-align: left;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: #150803 ;
        background-color: #F2F3F4; /*caja interior*/
        font-size: medium;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        padding: 40px;

    }

    .salada_16{
        
        margin-top: 15px;
        text-align: left;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: #150803 ;
        background-color: #F2F3F4; /*caja interior*/
        font-size: medium;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        padding: 40px;
    }

    .salada_17{     /*ASADO A LA PARRILLA*/
                
        margin-top: 15px;
        text-align: center;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: #150803 ;
        background-color: #F2F3F4; /*caja interior*/
        font-size: medium;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        
    }

    .salada_18{
        
        margin-top: 15px;
        text-align: left;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: #150803 ;
        background-color: #F2F3F4; /*caja interior*/
        font-size: medium;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        padding: 40px;
    }

    .salada_19{
        
        margin-top: 15px;
        text-align: left;
        font-family:  sans-serif;
        font-style: italic; /*Cursiva*/
        color: #150803 ;
        background-color: #F2F3F4; /*caja interior*/
        font-size: medium;
        font-weight: bold;
        border: 3px solid #138D75;
        border-radius: 16px;
        padding: 40px;
    }
/* Fin de recetas saladas */

    /*comienzo animacion en pagina de Datos curiosos*/
.barra3{
    width: 500px;
    height: 100px;
    background-color: hotpink;
    animation-name: cambiarColor3; /*cambiar a cambiarColor2*/
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    text-align: center;
    margin-top: 75px;
    padding: 30px;
    }
.barra3 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    }

@keyframes cambiarColor3 {
    0% {background: antiquewhite; width: 500px;}         /* Primer fotograma */
    25% {background: burlywood; width: 700px;}     /* Segundo fotograma */
    50% {background: skyblue; width: 900px;}     /* Tercer fotograma */    
    75% {background: mediumturquoise; width: 700px;}     /* Cuarto fotograma */
    0% {background: rosybrown; width: 500px;}         /* Último fotograma */
}
@keyframes go-left-right {        /* dale un nombre: "go-left-right" */
    from { left: 0px; }             /* animar desde la izquierda: 0px */
    to { left: calc(100% - 50px); } /* animar a la izquierda: 100%-50px */
  }

.progress {
    animation: go-left-right 15s infinite linear;
    border: lightblue solid;

    position: relative;
    width: 120px;
    height: 100px;
}
/*fin animación*/